USE [master]
GO
/****** Object:  Database [ElCarmen]    Script Date: 24/03/2026 21:51:29 ******/
CREATE DATABASE [ElCarmen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElCarmen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ElCarmen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElCarmen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ElCarmen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElCarmen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElCarmen]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 24/03/2026 21:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NULL,
	[FechaContratacion] [date] NULL,
	[Cargo] [nvarchar](50) NULL,
	[Usuario] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 24/03/2026 21:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](50) NOT NULL,
	[SegundoNombre] [nvarchar](50) NULL,
	[PrimerApellido] [nvarchar](50) NOT NULL,
	[SegundoApellido] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Genero] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonasAutorizadas]    Script Date: 24/03/2026 21:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonasAutorizadas](
	[IdEmpleado] [int] NOT NULL,
	[FechaAutorizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroModificacionSalario]    Script Date: 24/03/2026 21:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroModificacionSalario](
	[IdModificacion] [int] IDENTITY(1,1) NOT NULL,
	[FechaCambio] [datetime] NULL,
	[UsuarioCambio] [nvarchar](100) NULL,
	[SalarioAnterior] [decimal](10, 2) NULL,
	[SalarioNuevo] [decimal](10, 2) NULL,
	[IdEmpleado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdModificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salarios]    Script Date: 24/03/2026 21:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salarios](
	[IdEmpleado] [int] NOT NULL,
	[SalarioActual] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([IdEmpleado], [IdPersona], [FechaContratacion], [Cargo], [Usuario]) VALUES (1, 1, CAST(N'2023-01-10' AS Date), N'Contador', N'DESKTOP-ABF3A4V\50246')
INSERT [dbo].[Empleado] ([IdEmpleado], [IdPersona], [FechaContratacion], [Cargo], [Usuario]) VALUES (2, 2, CAST(N'2022-05-15' AS Date), N'Recursos Humanos', NULL)
INSERT [dbo].[Empleado] ([IdEmpleado], [IdPersona], [FechaContratacion], [Cargo], [Usuario]) VALUES (3, 3, CAST(N'2021-08-20' AS Date), N'Analista', NULL)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([IdPersona], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [Genero]) VALUES (1, N'Juan', NULL, N'Perez', N'Lopez', CAST(N'1990-05-10' AS Date), N'M')
INSERT [dbo].[Persona] ([IdPersona], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [Genero]) VALUES (2, N'Maria', N'Elena', N'Gomez', N'Ruiz', CAST(N'1988-09-22' AS Date), N'F')
INSERT [dbo].[Persona] ([IdPersona], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [Genero]) VALUES (3, N'Luis', NULL, N'Martinez', N'Santos', CAST(N'1995-03-15' AS Date), N'M')
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
INSERT [dbo].[PersonasAutorizadas] ([IdEmpleado], [FechaAutorizacion]) VALUES (2, CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[PersonasAutorizadas] ([IdEmpleado], [FechaAutorizacion]) VALUES (4, CAST(N'2026-01-01T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RegistroModificacionSalario] ON 

INSERT [dbo].[RegistroModificacionSalario] ([IdModificacion], [FechaCambio], [UsuarioCambio], [SalarioAnterior], [SalarioNuevo], [IdEmpleado]) VALUES (1, CAST(N'2026-03-23T21:23:08.870' AS DateTime), NULL, CAST(3000.00 AS Decimal(10, 2)), CAST(4000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[RegistroModificacionSalario] ([IdModificacion], [FechaCambio], [UsuarioCambio], [SalarioAnterior], [SalarioNuevo], [IdEmpleado]) VALUES (2, CAST(N'2026-03-23T21:38:05.273' AS DateTime), N'DESKTOP-ABF3A4V\50246', CAST(4500.00 AS Decimal(10, 2)), CAST(8000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[RegistroModificacionSalario] ([IdModificacion], [FechaCambio], [UsuarioCambio], [SalarioAnterior], [SalarioNuevo], [IdEmpleado]) VALUES (3, CAST(N'2026-03-23T22:33:24.850' AS DateTime), N'DESKTOP-ABF3A4V\50246', CAST(5000.00 AS Decimal(10, 2)), CAST(8000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[RegistroModificacionSalario] OFF
GO
INSERT [dbo].[Salarios] ([IdEmpleado], [SalarioActual]) VALUES (1, CAST(9500.00 AS Decimal(10, 2)))
INSERT [dbo].[Salarios] ([IdEmpleado], [SalarioActual]) VALUES (2, CAST(8500.00 AS Decimal(10, 2)))
INSERT [dbo].[Salarios] ([IdEmpleado], [SalarioActual]) VALUES (3, CAST(10000.00 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[PersonasAutorizadas] ADD  DEFAULT (getdate()) FOR [FechaAutorizacion]
GO
ALTER TABLE [dbo].[RegistroModificacionSalario] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[PersonasAutorizadas]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[RegistroModificacionSalario]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Salarios]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [CHK_Genero] CHECK  (([Genero]='F' OR [Genero]='M'))
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [CHK_Genero]
GO
USE [master]
GO
